$default-background: white;
$default-color: black;
$default-nav-color: #dae0e5;
$color-price: red;
$dark-color-price: rgb(248, 64, 178);
$dark-background: #353535;
$dark-border: #212529;
$color: white;
$cheked-background: #4e4e4e;
$nigth-switcher: rgba(182, 182, 21, 0.767);
$dark-nav-color: $cheked-background;
$sun-switcher: $cheked-background;
$active-text-button: $dark-border;
$active-background-button: $cheked-background;
$nav-item: #6e6e6e;
$nav-item-hover: $default-color;
$nav-item-dark: rgb(201, 201, 201);
$nav-item-hover-dark: $color;